span {
    color: orange;
}

section {
    /* background-color: yellow; */
    background-image: url("../images/main-visual.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* ポジション：左右　上下 　上から順に時計周りの順でそれぞれ個別の値も設定出来る(centerは1個でも可)*/
    background-position: center center;
    /* 高さ */
    height: 400px;
    /* 幅 */
    width: 100%;
    padding-top: 60px;
    /* 余白計算を含み計算にする */
    box-sizing: border-box;

}

.wrapper {
    /* 最大でも1000pxまで */
    max-width: 1000px;
    margin: 0 auto;
}

p {
    color: white;
    text-align: center;
}

.main-catch {
    font-size: 48px;
    font-weight: bold;
}

.cta-button {
    color: white;
    /* 背景色をオレンジ */
    background-color: orange;
    /* 下線を無くす */
    text-decoration: none;
    /* 太字 */
    font-weight: bold;
    /* 内側の余白 ：上下　左右 */
    padding: 3% 5%;
    /* 角の丸み 左上　右上　右下　左下の順で値の設定も出来る */
    border-radius: 8px;

    /* 性格をpやdivと同じに捻じ曲げる （元々はinlineという性質→marginとか効かない） */
    display: block;
    /* 中央揃え */
    text-align: center;
    /* 幅を絞る */
    width: 30%;
    /* 外側の余白 */
    /* margin-top: 20px; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    margin: 20px auto 0;

}